<IfModule mod_rewrite.c>
  Options Indexes FollowSymLinks
  RewriteEngine On
  Header merge Cache-Control no-cache env=NO_CACHE
  Header merge Cache-Control no-store env=NO_STORE
  Header set Access-Control-Allow-Origin "*"
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>