<div *ngFor="let data of footer">
   <div class="primary" *ngIf="data.title=='sociallink'" [style.background]="getTheme()">
      <div class="row" id="social-area">
         <div class="col-sm-12" style="padding-bottom:10px;padding-top: 10px;text-align: center;" id="social-icons">
            <div class="row">
               <div class="col-md-12 footersocial">
                  <div class="row">
                     <span *ngFor="let social_data of data.footer">
                        <a href="{{ social_data.link }}" target="_blank">
                           <span class="social_icon_bg" title="{{social_data.title}}" data-toggle="tooltip" data-original-title="Tooltip on top">
                              <span class="icon-social" [style.color]="getTheme()">
                                       <i ngClass= "fa {{social_data.icon}}" style="padding:5px 2px 0px 0px"></i>
                              </span>
                           </span>
                        </a>
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="container footer form-group" *ngIf="data.title=='otherlink'">   <!--class="col-md-4" style="padding:0px;"-->
      <div class="footer-left">
         <div *ngFor="let otherlink of data.items" class="col-md-4 loop1">
            <button class="btn footer-toggle fa fa-angle-down pull-right visible-xs" onclick="showFooterAddress()">
               <span class="sr-only">Footer Toggle Button</span>
            </button>
            <h4 class="footer-heading font-size-m warna_title_color" style="padding-left: 30px; font-family: Roboto; color: rgb(0, 189, 187);">
                     {{otherlink.title}}
               <span class="footer-title-underline warna_border_color" style="border-color: rgb(0, 189, 187);"></span>
            </h4> 
            <div *ngFor="let eachitm of otherlink.footer" class="each loop2">                                    
               <div class="address footer" style="margin-top: 0%">
                  <div class="sub-add" *ngIf="eachitm.icon && !eachitm.link">
                     <p  class="font-size-s" style="font-family: Roboto;">
                        <span ngClass= "glyphicon {{eachitm.icon}}" style="background-color: rgb(0, 189, 187);"></span>
                     </p>
                     
                     <div [innerHtml]="eachitm.title" class="font-size-s" >
                     </div> 
                  </div>
                  <div class="sub-add" *ngIf="eachitm.link && !eachitm.icon">
                        <a href="{{ eachitm.link }}" >
                           <div [innerHtml]="eachitm.title" class="font-size-s">
                           </div> 
                        </a> 
                  </div> 
                  <div class="sub-add" *ngIf="eachitm.link && eachitm.icon">
                     <a href="{{ eachitm.link }}" target="_blank" class="col-xs-3 info-box" 
                        data-toggle="tooltip" title="eachitm.name">
                        <img src="{{ eachitm.src }}" alt="eachitm.name" 
                        style="max-width:100%;">
                     </a>
                  </div> 
                  <div class="col-xs-4" *ngIf="eachitm.today">
                     <div class="font-size-s">{{eachitm.today}}</div>
                     <h4 class="font-size-m">{{eachitm.todayval}}</h4>
                  </div>
                  <div class="col-xs-4" *ngIf="eachitm.month">
                     <div class="font-size-s">{{eachitm.month}}</div>
                     <h4 class="font-size-m">{{eachitm.monthval}}</h4>
                  </div>
                  <div class="col-xs-4" *ngIf="eachitm.total">
                     <div class="font-size-s">{{eachitm.total}}</div>
                     <h4 class="font-size-m">{{eachitm.totalval}}</h4>
                  </div>                        
               </div>
            </div>               
         </div>
      </div>
   </div>
   <div class="copyright" *ngIf="data.title=='bottom' || data.title=='bottomlink'">
         <div *ngFor="let btm of data.items" class="container loop1">      
            <div class="padding-m" *ngIf="data.title=='bottom'">
               <div *ngFor="let eachitm of btm.bottom" class="each loop2">
                  <div  class="col-md-4">
                     <p class="font-size-s" style="margin-top: 4%; font-family: Roboto;">
                        {{eachitm.copyright}}
                     </p>
                  </div>
                  <div class="col-md-8 text-right hidden-xs">
                     <p class="font-size-s" style="font-family: Roboto;">
                           {{eachitm.update}} {{eachitm.update_date}}
                     </p>
                     <p class="font-size-s" style="margin-top: -10px; font-family: Roboto;">
                        {{eachitm.note}}
                     </p>                   
                  </div>
               </div>
            </div>     
            <div *ngIf="data.title=='bottomlink'" class="col-md-12 text-right hidden-xs loop1.1">
               <ul class="list-inline hidden-xs font-size-s" style="font-family: Roboto;">
                  <li  *ngFor="let btmlink of btm.bottomlinks">
                     <a href="{{ btmlink.link }}">
                        {{btmlink.name}} |
                     </a>
                  </li>
               </ul>
            </div>
         </div>
</div>
</div>
